
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipo</th>
      <th scope="col">Pais</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
     {{#each items as |item|}}
      <tr>
      <th scope="row">{{item.id}}</th>
      <td> {{item.name}}</td>
      <td> {{item.area.name}}</td>
      <td><a href="/equipo/{{item.id}}/ver">ver,</a><a href="/borrar/{{item.id}}"  >borrar</a></td>
      
    </tr>
      
      {{/each}}
   
  </tbody>
</table>