<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    ; /* Esto asegura que el contenedor ocupe toda la altura visible */
  }
  #map { height: 180px; }
</style>

<div class="container">
<img src="{{data.escudo}}" alt="escudo del equipo" >
</div>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Informacion</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>

        <tr>       
           
            <td> Nombre</td>
            <td> {{data.nombre}}</td>   
        </tr>
        <tr>
              
            <td> Direccion</td>
            <td> {{data.direccion}}</td>   
        </tr>
        <tr>
              
            <td> Pais</td>
            <td> {{data.pais}}</td>   
        </tr>
        <tr>
              
            <td> Telefono</td>
            <td> {{data.telefono}}</td>   
        </tr>
        <tr>
              
            <td> Website</td>
            <td><a href="{{data.web}}">{{data.web}}</a></td>   
        </tr>

    </tbody>
</table>


<a class="btn btn-primary" href="/form/{{data.id}}/editar" role="button">Editar</a>


 <div id="map"></div>